<% include partials/head %>
<% include partials/header %>

<!-- Page heading -->
<div class="container">
    <h2>Mitt konto</h2>
</div><br />

<!-- Change password section -->
<main class="container">
    <h3>Ändra lösenord</h3>
    <form action="http://localhost:3000/users/password/change" method="POST">
        <div class="form-group">
            <label for="email">Bekräfta email</label><br />
            <input type="email" name="email" class="form-control" />
        </div>
        <div class="form-group">
            <label for="password">Gammalt lösenord</label><br />
            <input type="password" name="password" class="form-control" />
        </div>
        <div class="form-group">
            <label for="newPassword">Nytt lösenord</label><br />
            <input type="password" name="newPassword" class="form-control" />
        </div>
        <button class="btn btn-primary" type="submit">Byt lösenord</button>
    </form><br />
    
    <!-- Display error/success messages -->
    <% include partials/alerts %>
    
</main><!--//container-->

<!-- Include footer -->
<% include partials/footer %>